.signup--container {
    margin: 0;
    background-color: transparent;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;

    /* background-image: url("../images/signup.jpeg");
    background-repeat: no-repeat;
    background-size: cover; */

}

.signup--window {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    border: solid #d86f0b 1px;
    border-radius: 20px;
    margin: 200px
}

.signup--window>h1 {
    font-size: 30px;
}

.signup--window--elements {
    margin: 15px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.signup--window--elements>h5 {
    margin-bottom: 10px;
    align-self: flex-start;
}

.signup--window--elements>input {
    margin-bottom: 10px;
    border-radius: 10px;
    width: 100%;
    text-indent: 5px;
    border: solid black 0.01px;
}

.signup--window--buttons {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-self: center;
}

.signup--window--buttons>button {
    width: 160px;
    height: 30px;
    border: none;
    border-radius: 10px;
    background-color: #5fb441;
    color: white;
    font-weight: 600;

}

.signup--image {
    position: absolute;
    z-index: -1;
    height: auto;
    width: 100%;
    object-fit: contain;
}

.signup--error--text {
    color: red;
    font-size: 12px;
    font-weight: 600;
}